{% extends "base_site.html" %}


{% block title %} Main page {% endblock %}

{% block content %}
    <a href="{% url 'list_of_shops' %}">Nearby Shops</a>  <a href="{% url 'list_of_liked_shops' %}">My preferred Shops</a>
    <br>
    {% for obj in object_list %}
        {{ obj.name }}-{{ obj.distance }}

        {% if main %}

            <form   method="post" enctype="multipart/form-data" action="{% url 'like_shop' obj.pk %}">
                {% csrf_token %}
                <input type="submit" value="Like">
            </form>

            <form   method="post" enctype="multipart/form-data" action="{% url 'dislike_shop' obj.pk %}">
                {% csrf_token %}
                <input type="submit" value="Dislike">
            </form>

        {% else %}

            <form   method="post" enctype="multipart/form-data" action="{% url 'remove_shop' obj.pk %}">
                {% csrf_token %}
                <input type="submit" value="Remove">
            </form>

        {% endif %}


        <br>
    {% endfor %}
{% endblock %}
