{% extends "base_site.html" %}
{% load static %}
{% load i18n %}


{% block title %} Main page {% endblock %}

{% block content %}
    <a href="{% url 'list_of_shops' %}">Nearby Shops</a>  <a href="{% url 'list_of_liked_shops' %}">My preferred Shops</a>
    <br>

    <div class="all_shops_container">
        {% for obj in object_list %}
            <div class="shop_container">

                <div>
                    {{ obj.name }}
                </div>
                <div>
                    <img class="image" src="{{ obj.poster.url }}">
                </div>
                <div style="display:flex;">
                    {% if main %}

                        <form   method="post" enctype="multipart/form-data" action="{% url 'like_shop' obj.pk %}" style="margin-right: 25px;margin-left: 5px;">
                            {% csrf_token %}

                            <input class="like_button" type="submit" value="Like" style="background-color: rgba(134, 207, 61, 0.9); border: none;">
                        </form>

                        <form   method="post" enctype="multipart/form-data" action="{% url 'dislike_shop' obj.pk %}" style="margin-left: 20px;">
                            {% csrf_token %}
                            <input class="danger_button" type="submit" value="Dislike" style="background-color: rgba(255, 51, 51, 0.9); border: none;">
                        </form>

                    {% else %}

                        <form   method="post" enctype="multipart/form-data" action="{% url 'remove_shop' obj.pk %}">
                            {% csrf_token %}
                            <input class="danger_button" type="submit" value="Remove" style="background-color: rgba(255, 51, 51, 0.9); border: none;">
                        </form>

                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
